.displayChars{
	content: "";
	display: table;
	clear: both;
	margin: 0 auto;
}

.displayYouChar{
	content: "";
	display: table;
	clear: both;
	/*margin: 0 auto;*/
}

.displayEnemies{
	content: "";
	display: table;
	clear: both;
}

.char{
	border: solid 5px black;
	width: auto;
	height: auto;
	float: left;
	margin: 10px;
}

.charImg{
	padding: 2px;
	width: 200px;
	height: auto;
}

.youChar{
	border: solid 5px black;
	width: auto;
	height: auto;
	float: left;
}

.enemy{
	border: solid 4px black;
	width: auto;
	height: auto;
	float: left;
}

.defender{
	border: solid 4px black;
	width: auto;
	height: auto;
	float: left;	
}