body{
	background-color: #ffa632;

}

h1{
	text-align: center;
}

.resetButton{
	background-color: blue; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
}

#htmlAttckButton{
	background-color: black; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
}

.displayChars{
	content: "";
	display: table;
	clear: both;
	margin: 0 auto;
}

.displayYouChar{


	float: left;
}

.displayEnemies{


	float: right;
}

.displayDefender{
	margin-left: 20px;
	float: left;
}

.char{
	border: solid 2px black;
	width: auto;
	height: auto;
	float: left;
	background-color: #ffa632;
	
}

.charImg{
	
	width: 200px;
	height: auto;
}

.youChar{
	border: solid 2px black;
	width: auto;
	height: auto;
	float: left;
	background-color: green;
}

.enemy{
	border: solid 2px black;
	width: auto;
	height: auto;
	float: right;
	background-color: red;
}

.defender{
	border: solid 2px black;
	width: auto;
	height: auto;
	float: left;	
	background-color: black;
}

.displayAttckButton{
	content: "";
	display: table;
	clear: both;
}

.stats{
	text-align: center;
	font-size: 25px;
}